body, html {
    height: 100%;
    width: 100%;
    font: 16px "Lato", sans-serif;
    color: #9400D3;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.formulario, .redes-sociais {
    display: inline;
    float: left;
    width: 49%;
    height: 90%;
    margin-top: 50px;
    letter-spacing: 5px;
    text-align: center;
}
.borda {
    border-right: solid 1px;
    border-image: linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0),
      #9400D3, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
.itens-form {
    margin-top: 20px;
}
.form-nome, .form-email, .form-phone, .form-estado, .form-cidade, .form-submit{
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    width: 80%;
    height: 30px;
    background-color: #E6CBFF;
    color: #9400D3;
    text-transform: uppercase;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 3px;
}
.form-email {
    background-image: url(../icon/mail.png);
    background-size: 25px;
    background-position-x: 5px;
    background-position-y: 3px;
}
.form-nome {
    background-image: url(../icon/nome.png);
}
.form-phone {
    background-image: url(../icon/phone.png);
}
.form-estado select{
    display: none
}
.form-estado {
    padding-left: 5px;
    width: 39%;
}
.form-cidade {
    width: 39%;
    background-image: url(../icon/city.png);
}
.form-submit {    
    background-image: url(../icon/send.png);
    background-position-x: 40%;
    text-align: center;
}
.form-submit:hover{
    background-image: url(../icon/send-hover.png);
    color: #E6CBFF;
    background-color: #9400D3;
}
.instagram, .facebook, .snapchat, .twitter, .github, .wpp, .telegram, .discord, .linkedin, .youtube{
    border: none;
    background-color:#E6CBFF;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}
.instagram:hover, .facebook:hover, .snapchat:hover, .twitter:hover, .github:hover, .wpp:hover, .telegram:hover, .discord:hover, .linkedin:hover, .youtube:hover{
    background-color:#9400D3;
}
.instagram {
    background-image: url(../icon/instagram.png);
}
.instagram:hover {
    background-image: url(../icon/instagram-hover.png);
}
.facebook {
    background-image: url(../icon/facebook.png);
}
.facebook:hover:hover {
    background-image: url(../icon/facebook-hover.png);
}
.snapchat {
    background-image: url(../icon/snapchat.png);
}
.snapchat:hover {
    background-image: url(../icon/snapchat-hover.png);
}
.twitter {
    background-image: url(../icon/twitter.png);
}
.twitter:hover {
    background-image: url(../icon/twitter-hover.png);
}
.youtube{
    background-image: url(../icon/youtube.png);
}
.youtube:hover {
    background-image: url(../icon/youtube-hover.png);
}
.discord {
    background-image: url(../icon/discord.png);
}
.discord:hover {
    background-image: url(../icon/discord-hover.png);
}
.github {
    background-image: url(../icon/github.png);
}
.github:hover {
    background-image: url(../icon/github-hover.png);
}
.telegram {
    background-image: url(../icon/telegram.png);
}
.telegram:hover {
    background-image: url(../icon/telegram-hover.png);
}
.wpp {
    background-image: url(../icon/whatsapp.png);
}
.wpp:hover {
    background-image: url(../icon/whatsapp-hover.png);
}
.linkedin {
    background-image: url(../icon/linkedin.png);
}
.linkedin:hover {
    background-image: url(../icon/linkedin-hover.png);
}
.Ist-andar, .Snd-andar {
    margin-top: 50px;
}
@media (max-width: 675px){
    .redes-sociais {
        width: 100%;
        height: 50%;
    }
    .formulario{
        border-top: solid 1px;
        border-image: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0),
        #9400D3, 
        rgba(0, 0, 0, 0)
        ) 1 100%;
        padding-top: 15px;
        width: 100%;
        height: 50%;
    }
}
@media (min-width: 675px){
    
}