body, html {
    height: 100%;
    width: 100%;
    font: 16px "Lato", sans-serif;
    color: #8700f5;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-attachment: scroll;
}
.titulo {
    display: block;
    float: left;
    width: 100%;
    margin-top: 70px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.ada {
    display: block;
    float: right;
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 20px;
    /*border-bottom: linear-gradient(to right, transparent, #9400D3, transparent);*/
}
.logo-sites {
    position: relative;
    display: inline;
}
.texto {
    position: relative;
    width: 80%;
    display: inline;
    float: right;
    text-align: justify;
    margin-right: 20px;
    margin-bottom: 10px;
    text-indent: 1.5em;
    line-height: 25px;
}
.titulo-projeto{
    width: 100%;
    padding-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 5px;
    float: left;
    font-weight: bold;
    text-indent: 0;
}
.infopreta, .minas-programam {
    display: block;
    float: left;
}
.infopreta .texto, .minas-programam .texto {
    margin-right: 50px;
    margin-left: 20px;
    float: left;
    padding-left: 0;
}
.infopreta .titulo-projeto, .minas-programam .titulo-projeto{
    text-align: right;
}
.pyladies{
    margin-left: 30px;
    display: inline;
}
@media (max-width: 675px){
    .logo-sites {
        display: block;
        float: none;
    }
    .texto {
        display: block;
        float: none;
        text-align: justify;
    }
    .pyladies {
        width: 8%;
    }
    .infopreta .texto, .minas-programam .texto {
        margin-right: 0;
        margin-left: 0;
        float: none;
        padding-left: 0;
    }
}
@media (max-width: 1200px){
    .pyladies {
        width: 5%;
    }
}